.mediaViewInfo {
	--web-view-name:  Password Recovery;
	--web-view-id: n_Password_Recovery;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: n_Password_Recovery;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#n_Password_Recovery {
	position: absolute;
	width: 1920px;
	height: 1000px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name:  Password Recovery;
	--web-view-id: n_Password_Recovery;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#pexels-ioana-motoc-9899497 {
	position: absolute;
	width: 1920px;
	height: 1000px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_43 {
	position: absolute;
	width: 1492.951px;
	height: 1000px;
	left: 442.958px;
	top: 0px;
	overflow: visible;
}
#Rectangle_7 {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 833.909px;
	height: 1000px;
	left: 659.042px;
	top: 0px;
}
#Path_1 {
	opacity: 0.59;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 585px;
	height: 936px;
	left: 876.951px;
	top: 64px;
	transform: matrix(1,0,0,1,0,0);
}
#Password_Recovery_Please_input {
	left: 0px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 650px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	color: rgba(255,255,255,1);
}
#Password_Recovery {
	left: 989.951px;
	top: 136px;
	position: absolute;
	overflow: visible;
	width: 362px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(47,80,191,1);
}
#Group_37 {
	position: absolute;
	width: 487px;
	height: 56px;
	left: 923.951px;
	top: 716.161px;
	overflow: visible;
}
#Rectangle_10 {
	fill: rgba(47,80,191,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 487px;
	height: 56px;
	left: 0px;
	top: 0px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Sign_Up.html;
	cursor: pointer;
}
#Sign_Up {
	left: 190px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 29px;
	color: rgba(255,255,255,1);
}
#Group_38 {
	position: absolute;
	width: 464px;
	height: 40px;
	left: 937.451px;
	top: 645.366px;
	overflow: visible;
}
#OR {
	left: 208.5px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(30,30,30,1);
}
#Line_5 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5 {
	overflow: visible;
	position: absolute;
	width: 179px;
	height: 2px;
	left: 0px;
	top: 20.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_6 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_6 {
	overflow: visible;
	position: absolute;
	width: 179px;
	height: 2px;
	left: 285px;
	top: 20.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_36 {
	position: absolute;
	width: 487px;
	height: 56px;
	left: 925.951px;
	top: 435.01px;
	overflow: visible;
}
#Rectangle_11 {
	fill: rgba(47,80,191,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 487px;
	height: 56px;
	left: 0px;
	top: 0px;
}
#Send {
	left: 195px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Group_39 {
	position: absolute;
	width: 487px;
	height: 70px;
	left: 923.951px;
	top: 305.956px;
	overflow: visible;
}
#Rectangle_8 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 487px;
	height: 70px;
	left: 0px;
	top: 0px;
}
#Your_Email {
	left: 22px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(142,142,142,1);
}
#Text {
	left: 717.704px;
	top: 464.535px;
	position: absolute;
	overflow: visible;
	width: 1px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(142,142,142,1);
}
#user {
	position: absolute;
	width: 102px;
	height: 102px;
	left: 1088.817px;
	top: 34px;
	overflow: visible;
}
#Forgot_your_password_ {
	left: 1082.951px;
	top: 838.888px;
	position: absolute;
	overflow: visible;
	width: 214px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(27,56,204,1);
}
#Group_36_ {
	position: absolute;
	width: 487px;
	height: 56px;
	left: 923.951px;
	top: 561.196px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Sign_In.html;
	cursor: pointer;
}
#Rectangle_11_ {
	fill: rgba(47,80,191,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11_ {
	position: absolute;
	overflow: visible;
	width: 487px;
	height: 56px;
	left: 0px;
	top: 0px;
}
#Sign_In {
	left: 195px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}